<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
       <style>    
        body {
            background-image: url("/images/stress.jpg");
            font-family: 'Lato', Helvetica, sans-serif;
            line-height: 1.5;
            margin: 0;
            padding: 0;
            color: #fff;
            background-attachment: fixed;
        }
        </style>
</head>
<body>
<p>
    <h2>BIPOLAR DISORDER</h2>

Bipolar disorder is a mental illness marked by extreme shifts in mood. 
<br>Symptoms can include an extremely elevated mood called mania. They can also include episodes of depression. 
<br>Bipolar disorder is also known as bipolar disease or manic depression.
<br>
People with bipolar disorder may have trouble managing everyday life tasks at school or work, or maintaining relationships. 
<br>There’s no cure, but there are many treatment options available that can help to manage the symptoms.
<br>
<strong>Bipolar disorder symptoms in men</strong>
<br>
1.experience more severe episodes, especially manic episodes<br>
2.have substance abuse issues<br>
3.act out during manic episodes<br>

<strong>Bipolar disorder symptoms in women</strong>
<br>
1.experience other conditions at the same time, <br>
including thyroid disease, obesity, anxiety disorders, and migraines<br>
2.have a higher lifetime risk of alcohol use disorder<br>

<strong>Bipolar disorder in children</strong>
<br>
1.acting very silly and feeling overly happy<br>
2.talking fast and rapidly changing subjects<br>
3.having trouble sleeping and not feeling tired after sleep loss.<br>


</p>

 <div>
        <a href="/chart">
            <button type="submit" class="back">Back</button>
        </a>
    </div>
</body>
</html>