<html>

<body>
    <div id="piechart" style="width: 900px; height: 500px;"></div>
    <a href="/deppression">
        <h3>Learn more about Deppression</h3>
    </a>
    <a href="/bipolar">
        <h3>Learn more about Bipolar Disorder</h3>
    </a>
    <a href="/schizophrenia">
        <h3>Learn more about Schizophrenia</h3>
    </a>
</body>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

        var data = google.visualization.arrayToDataTable([
            ['Illnesses', 'Percentage per year'],
            ['Bipolar Disorder', {{ bipolar }}],
            ['Deppression', {{ depression }}],
            ['Schizophrenia', {{ schizophrenia }}],

        ]);

    var options = {
        title: 'MENTAL-ILLNESSES'
    };

    var chart = new google.visualization.PieChart(document.getElementById('piechart'));

    chart.draw(data, options);
    }
    
</script>
</html>