<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        body {
            background-image: url("/images/stress.jpg");
            font-family: 'Lato', Helvetica, sans-serif;
            line-height: 1.5;
            margin: 0;
            padding: 0;
            color: #fff;
            background-attachment: fixed;
        }

        .container h1 {
            font-size: 60px;
            font-weight: lighter;
            text-align: center;
        }

        .introduction {
            width: 80%;
            display: flex;
            margin-left: auto;
            margin-right: auto;
        }

        .introduction>p {
            margin: 60px;
            font-size: 20px;
        }

        .button {
            text-align: center;
            font-size: 24px;
        }

        .button a {
            background-color: #48B9CF;
            text-decoration: none;
            color: #fff;
            padding: 20px;
            border: 2px solid #fff;
            border-radius: 45px;
        }

        .button a:hover {
            opacity: 0.9;
        }

        ul {
            list-style-type: none;
            background-color: #fff;
            margin: 0;
            padding: 0;
            height: 80px;
            display: flex;
            align-items: center;
        }
        ul li {
            margin: 30px;
        }
        ul li a {
            text-decoration: none;
            color: #000;
            margin: 10px;
        }
        ul li a:hover {
            text-decoration: underline;
        }
    </style>

</head>

<body>
    <div class="container">
        <ul>
            <li><a href="/">HOME</a></li>
            <li> <a href="/goToForm">CHECK SYMPTOMS</a> </li>
            <li> <a href="/chart">MAKE APPOINTMENT</a> </li>
            <li> <a href="#">LEARN MORE</a> </li>
        </ul>

        <br><br><br>

        <h1>Mental Illness Awareness</h1>

        <br><br><br>    

        <div class="introduction">
            <p>
                Mental health is not discussed enough and more importantly, I do not think it is given
                the importance it deserves. Mental Health is something you heard now and then, but it’s never actually
                discussed and it should.
            </p>

            <p>
                There are ways, you can help a person get through their struggles with the mental health issues they
                face,
                but do we ever ask ourselves the questions we necessarily need to know when it comes to helping someone
                with a
                mental illness. Is sarcasm, bad? Is it meant to demean others?
            </p>

            <p>
                The majority of people that have a severe mental illness are object to challenges in double measure.
                From one point of view, they wrestle with the symptoms and disablement that result from the illness.
                From
                another point, they are tested by the stereotypes and preconceived ideas that stem from the
                misunderstandings
                about mental illness
            </p>
        </div>

        <br>
        <div class="button">
            <a href="/goToForm">Check Symptoms&nbsp;&nbsp;>&nbsp;&nbsp;</a>
        </div>
    </div>
</body>

</html>