<div class="container">
    <header>
        <h1>Mental Illness Awareness</h1>
        <img src="/images/download.jpg" alt="">
    </header>

    <div class="goToForm-links">
        <a href="/goToForm">Check Symptoms ></a>
    </div>
</div>