<div class="container">
    <header>
        <img src="/images/download.jpg" alt="">
        Mental Illness Awareness
    </header>

    <div class="goToForm-links">
        <a href="/goToForm">Check Symptoms ></a>
    </div>
    
</div>