<div class="container">
    <div class="row">
        <div class=" col-4"></div>
        <div class=" col-4">
            <h1>Mental Illness Awareness</h1>
        </div>
        <div class=" col-4"></div>
    </div>

    <div class="row">
        <div class=" col-4"></div>
        <div class=" col-4">

        </div>
        <div class="col-4">
        </div>
    </div>

    <div class="goToForm-links">
        <a href="/goToForm">Check Symptoms ></a>
    </div>
</div>