<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>mental illness awareness</h1>
    <br>
    <p>
        <h3>Learn more about DEPRESSION</h3>
<br>
        It's often said that depression results from a chemical imbalance, but that figure of speech doesn't capture how
        complex the disease is.<br> Research suggests that depression doesn't spring from simply having too much or too
        little of certain brain chemicals.<br>
        Rather, there are many possible causes of depression, including faulty mood regulation by the brain, genetic
        vulnerability, stressful life events, medications, and medical problems. It's believed that several of these
        forces interact to bring on depression.
        <br>
        <strong>symptoms in Females</strong>
        1.Irritability
        <br>
        2.Anxiety
        <br>
        3.Mood swings
        <br>
        <strong>In males</strong>
        1.Working without a break<br>
        2.Having difficulty keeping up with work and family responsibilities<br>
        3.Displaying abusive or controlling behavior in relationships<br>

        <strong>In college students</strong>
        1.Difficulty concentrating on schoolwork<br>
        2.Sleeping too much<br>
        3.A decrease or increase in appetite<br>

        <strong>In teens</strong>
        1.Difficulty concentrating on schoolwork<br>
        2.Feeling guilty, helpless, or worthless<br>
        3.Restlessness, such as an inability to sit still<br>

        <strong>In children</strong>
        1.Crying all the time<br>
        2.Low energy<br>
        3.Defiant behavior<br>

        <strong>Causes</strong>
        1.Genetic features<br>
        2.Changes in the brain’s neurotransmitter levels<br>
        3.Environmental factors<br>
    </p>
</body>

</html>