<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>    
        body {
            background-image: url("/images/stress.jpg");
            font-family: 'Lato', Helvetica, sans-serif;
            line-height: 1.5;
            margin: 0;
            padding: 0;
            color: #fff;
            background-attachment: fixed;
        }
        </style>

</head>
<body>
    <p>
     <h2>SCHIZOPHRENIA</h2>

Schizophrenia is a serious mental disorder in which people interpret reality abnormally. <br>
Schizophrenia may result in some combination of hallucinations, delusions, and extremely disordered thinking and behavior that impairs daily functioning, and can be disabling.

People with schizophrenia require lifelong treatment. Early treatment may help get symptoms under control before serious complications develop and may help improve the long-term outlook.
<br>
<strong>Symptoms in teenagers</strong>
<br>
1.A drop in performance at school<br>
2.Trouble sleeping<br>
3.Irritability or depressed mood<br>
4.Lack of motivation<br>

<strong>Symptoms</strong>
<br>
1.Delusions<br>
 :-These are false beliefs that are not based in reality. For example, you think that you're being harmed or harassed.
<br>
2.Hallucinations<br>
:-These usually involve seeing or hearing things that don't exist. Yet for the person with schizophrenia, they have the full force and impact of a normal experience.
<br>
3.Disorganized thinking(speech)<br>
:-Rarely speech may include putting together meaningless words that can't be understood, sometimes known as word salad.
    </p>
    
<div>
        <a href="/chart">
            <button type="submit" class="back">Back</button>
        </a>
    </div>

</body>
</html>