body {
    background-color: cornflowerblue;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif
}

.symptoms-container {
    display: flex;
    justify-content: center;
    align-items: center;
} 
header {
    height: 5em;
    width: 100%;
    overflow: hidden;
}
header img {
    width: 20px;
}
.goToForm-links a {
    text-decoration: none;
    background-color: blue;
}

